.title {
  padding: 0%;
  margin: 0%;
  margin-top: 0%;
  font-family: "Teko", sans-serif;
  font-size: 62px;
  margin-left: 8%;
  margin-right: 8%;
  text-align: left;
}
.parent{
  background-color: #000;
}
.card_image{
  width: 500px;
  height: 400px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  position: absolute;
}
.cards{
  width: 580px;
  height: 480px;
  padding: 30px;
}
.cards:hover .card_image {
  transform: scale(0.5, 0.35) translateY(-650px);
  background-size: 80% 80%;
  background-position: 0 -25px;
  border-radius: 50px;
}
.card_des{
  padding: 5px;
  font-family: 'Poppins' sans-serif;
  margin: 0 30px 0 30px;
}