
.container{
   margin: 2rem;
    width:22rem;
    text-align: left;
    background-color: rgb(36, 36, 36);
    border-radius: 1.3rem;
    animation: flicker 1.5s infinite alternate;
}
.container:hover{
    box-shadow: 1px 1px 40px 6px #e41f43;
    border: 2px solid #e41f43;
    cursor:auto;
}


.project-image{
    margin-top: -0.9rem;
    height: 12rem;
    width: 20rem;
    z-index:2;
    border-radius: 9px;
}
.type{
    text-align: center;
    border-radius: 0.3rem;
    width:4rem;
    background-color: rgb(128, 128, 128);
    z-index:5;
    position: relative;
    top:2rem;
    left:1rem;
}
.type-text{
    font-size: 1rem;
    color: black;
    padding: 0.3rem;
}
.project-title{
    font-size: 2rem;
    margin: 0rem 0 0 0;
    padding: 0.3rem 0 0 0;
}
.date{
    font-size: 1rem;
    margin: 0;
    padding: 0.3rem 0 0.2rem 0;
}
.description{
    font-size: 1.1rem;
    margin: 0;
    padding: 0.6rem 0 0rem 0;
    font-weight: 400;
}
.interactions{
    display:flex;
}
.inter{
    width:3.5rem;
    background-color: rgb(68, 68, 68);
    margin: 1rem 0;
    margin-right: 1rem;
    text-align: center;
    border-radius: 0.3rem;
    padding: 0.2rem;
}
.bottom{
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.repository-link{
    height: 2.5rem;
    width:8rem;
    transition: all 0.2s ease;
}
.live-url{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    margin-top: 0.4rem;
    margin-right: 1rem;
}