.event-list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  color: black;
  position: absolute;
  background-color: black;
  transition: 0.15s;
}

.event__card-parent {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  color: black;
}

.event__card-parent-overlay .card .content {
  display: none;
  transition: 0.5s ease-in-out;
}
.event__card-parent .card {
  position: relative;
  border-radius: 5px;
  margin: 30px 10px;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  height: 293.641px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
  /* background: linear-gradient(110deg, #000 33%, rgba(0, 0, 0, 0) 33%),
    linear-gradient(110deg, #f9224b 66%, #28336f 66%); */
  background-color: white;

  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  border-radius: 12px;
}
.event__card-parent .card:hover {
  min-height: 600px;
  height: max-content;
  display: block;
  box-shadow: 5px 5px 10px rgba(17, 25, 40, 0.863),
    -5px -5px 10px rgba(17, 25, 40, 0.514);
}
.event__card-parent .card > img:hover .card {
  height: max-content;
  transition: 0.3s ease-in;
}
.event__card-parent .card .img8x_normal {
  position: relative;
  top: -50px;
  width: 100%;
  z-index: 1;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  object-fit: contain;
}

.event__card-parent .card .img8x_normal > img {
  border-radius: 5px;
  width: 90%;
  height: 293.641px;
  transition: 0.3s;
  position: relative;
}
.event__card-parent .card .img8x_normal > img::after {
  content: "";
  height: 20px;
  width: 20px;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.event__card-parent .card .content {
  position: relative;
  margin-top: -100px;
  visibility: hidden;
  padding: 10px 15px;
  color: black;
  opacity: 0;
  transition: 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}
.event-card__details {
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  padding: 0px 30px;
  padding-right: 20px;
}
.event-card__details-paragraph {
  white-space: pre-wrap;
}
.event-card__details-reward {
  margin: 10px 0px;
}
.event-card__details-reward-list {
  margin-left: 25px;
}
.know-more-event {
  border-radius: 4px;
  background-color: #f9224b;
  color: white;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  margin: 5px;
}
.know-more-event__button-div {
  align-self: center;
}
.know-more-event:hover {
  background-color: #e72145;
}
.event__card-parent .card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}

@media (max-width: 768px) {
  .event-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 450px) {
  .event-card__details {
    padding: 0px 10px;
  }
  .event__card-parent .card {
    height: 120px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .event__card-parent .card .img8x_normal {
    top: -39px;
  }
  .event__card-parent .card .img8x_normal > img {
    height: 120px;
  }
}
