.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
  padding: 0 12px;
  margin-top: 12px;
  margin: 3%;
}
.pics{
  background-color: #f9224b;
  padding: 2%;
}

.text {
  flex-wrap: wrap;
  flex-direction: column;
  -moz-box-align: end;
}

.parent {
  background-color: black;
}
.title {
  padding: 0%;
  margin: 0%;
  margin-top: 0%;
}
.gallery .pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  cursor: pointer;
  margin-bottom: 12px;
}
.gallery .pics :hover{
  filter: drop-shadow(16px 16px 10px black);
  transform: scale(1.12) ;
  transition-delay: 400ms;
  transition: opacity .5s ease , visibility .5s ease , transform .5s ease-in-out;

  opacity: 1;
  transition-timing-function: ease;
  overflow: hidden;
  /* transition: transform .4s scale(1.05),transform .4s scale(1.1); */
  
}


@media (max-width: 990px) {
  .gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media (max-width: 480px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }
}
.model {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0%;
  /* left: 0%; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* background-color: black; */
  transition: opacity 0.4s ease, visibility 0.4s ease,
    transform 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  overflow: hidden;
  z-index: 999;
  font-size: 1rem;
  /* background-image: url(	http://localhost:3000/static/media/bg-news.9a07fd45.svg); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('./Background_Img.png');
 
  /* margin-right: 20%;
  margin-left: 20%; */

}
.open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
.model img {
  width: auto;
  max-width: 150%;
  height: auto;
  display: flexbox;
  line-height: 0%;
  box-sizing: border-box;
  padding: 0;
  margin: 20% 10%;
  max-height: 100%;
  left: 0em;
  right: 0%;
}
.open svg {
  position: fixed;
  top: 2.6rem;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  padding: 5px;
  background-color: black;
  color: #f9224b;
  cursor: pointer;
}
.parent .title {
  font-family: "Teko", sans-serif;
  font-size: 62px;
  margin-left: 8%;
  margin-right: 8%;
  text-align: left;
}
.model .detail{
  font-family: New Century Schoolbook, serif;
  align-items: center;
  display: wrap;
  margin: 5%;
  margin-right: 10% ;
  border-block: 10px;
  box-sizing: content-box;
  /* overflow: hidden; */
  
}

@media screen and (max-width:1000px)
{
.model
{
flex-flow:row wrap;
}
.model .clickImg{
display:block;
order:1;
width: auto;
height: auto;
}
.model .clickImg{
display:block;
order:2;
width:auto;
align-items: center;
/* margin-left: 25%;
margin-top: 0%; */
margin: auto;
}
.model .clickImg .detail
{
padding:2%;
}
.model .clicImg .detail
{
margin-bottom:2%;
}
.clicImg{
  align-items: center;
  margin-left: 15%;
}
}