h2 {
  margin: -6rem 4rem;
  text-align: left;
  font-size: 3rem;
  font-weight: 600;
}

hr {
  border-top: 2px dotted #3f51b5;
}

button {
  border-radius: 4px;
  background-color: #dc3545;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}
/* For pdf */
.react-pdf__Page {
  margin-top: 10px;
  width: auto;
}
.react-pdf__Page__canvas {
  margin: 0 auto;
  border-radius: 50px;
}
.news__allpagePdf-document {
  background: linear-gradient(145deg, #6e6e6e, #838383);
  border-radius: 50px;
  box-shadow: 2px 2px 6px #686868, -2px -2px 6px #8c8c8c;
}
.react-pdf__Page__annotations .annotationLayer {
  border-radius: 20px;
}

/* For all pages */
.news__allPageContainer-parent {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.news__allPageContainer-children {
  height: 100%;
  max-height: 100vh;
  margin-top: 20px;
  overflow: auto;
}

.news-bg {
  font-family: sans-serif;
  text-align: center;
  background-color: black;
  display: flex;
  flex-direction: column;
}
.news {
  padding: 12px;
  width: 100%;
  background-color: #252525;
  border-radius: 0.8rem;
  transition: transform 0.5s ease-in;
  cursor: pointer;
}

@media (max-width: 768px) {
  /* the only thing left is to make changes to height and width of canvas as follows
   height: 500px;
   width: 353px;
   */
}
