.news_parent {
  height: 100vh;
  overflow: auto;
}

.news_parent h1 {
  margin-top: calc( -10%);
}

.news_parent hr {
  border-top: 2px dotted #3f51b5;
}

.news_parent .news{
  background-color: rgb(36, 36, 36);
}
.news_parent .slider::before,
.news_parent .slider::after {
  background: linear-gradient(to bottom, rgb(0, 0, 0) 50%,rgba(0, 0, 0, 0.829), #0000);  
  content: "";
  height: 20%;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.news_parent .slider::before {
  top: -3rem;
  left: 0rem;
  border-radius: 0rem 0rem 2rem 2rem;
}

.news_parent .slider::after {
  top: 36rem;
  left: 0rem;
  transform: rotate(180deg);
  border-radius: 0rem 0rem 2rem 2rem;
} 


.news_parent button {
  border-radius: 4px;
  background-color: #dc3545;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  width: 100px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.news_parent button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.news_parent button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.news_parent button:hover span {
  padding-right: 25px;
}

.news_parent button:hover span:after {
  opacity: 1;
  right: 0;
}

.news_parent .react-pdf__Page {
  padding-bottom: 2.5px;
  width: auto;
}

.news_parent .news__singlePageContainer .react-pdf__Page__canvas {
  margin: 0 auto;
  border-radius: 10px;
}
.news_parent .react-pdf__Page__canvas {
  margin: 0 auto;
  border-radius: 5px;
}
.news_parent .news__allpagePdf-document {
  background: linear-gradient(145deg, #6e6e6e, #838383);
  border-radius: 50px;
  -webkit-box-shadow: 2px 2px 6px #686868, -2px -2px 6px #8c8c8c;
          box-shadow: 2px 2px 6px #686868, -2px -2px 6px #8c8c8c;
}

.news_parent .react-pdf__Page__annotations .annotationLayer {
  border-radius: 20px;
}

.news_parent .news__allPageContainer-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news_parent .news__allPageContainer-children {
  height: 100%;
  max-height: 100vh;
  margin-top: 20px;
  overflow: auto;
}
@media (max-width: 768px) {
  /* the only thing left is to make changes to height and width of canvas as follows
   height: 500px;
   width: 353px;
   */
}